numpy
scipy
matplotlib
pandas
scikit-learn
notebook
transformers
#xformers
torch
diffusers
fastdownload
torchvision
accelerate
ipywidgets
GPUtil
jupyter
controlnet_aux
numba
protobuf
sentencepiece
safetensors